aiobotocore==2.21.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioitertools==0.12.0
aiosignal==1.3.2
aiosqlite==0.21.0
alembic==1.15.2
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
apprise==1.9.3
arrow==1.3.0
asgi-lifespan==2.1.0
asttokens==3.0.0
asyncpg==0.30.0
attrs==25.3.0
beautifulsoup4==4.13.4
binaryornot==0.4.4
blinker==1.9.0
botocore==1.37.1
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
contourpy==1.3.2
cookiecutter==2.6.0
coolname==2.2.0
cryptography==44.0.3
cycler==0.12.1
dateparser==1.2.1
debugpy==1.8.14
decorator==5.2.1
deprecated==1.2.18
docker==7.1.0
dynaconf==3.2.10
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.115.12
fonttools==4.57.0
frozenlist==1.6.0
fsspec==2025.3.2
gitdb==4.0.12
gitpython==3.1.44
google-auth==2.40.1
google-genai==1.14.0
graphviz==0.20.3
greenlet==3.2.1
griffe==1.7.3
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.12.3
hyperframe==6.1.0
idna==3.10
importlib-metadata==8.6.1
importlib-resources==6.5.2
ipykernel==6.29.5
ipython==9.2.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jinja2==3.1.6
jinja2-humanize-extension==0.4.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-client==8.6.3
jupyter-core==5.7.2
kedro==0.19.11
kedro-datasets==6.0.0
kedro-telemetry==0.6.2
kiwisolver==1.4.8
lazy-loader==0.4
lxml==5.4.0
mako==1.3.10
markdown==3.8
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.7.0
multidict==6.4.3
narwhals==1.37.1
nest-asyncio==1.6.0
nitter==0.0.5
ntscraper==0.3.18
numpy==2.2.5
oauthlib==3.2.2
omegaconf==2.3.0
opentelemetry-api==1.33.0
orjson==3.10.18
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.3
parse==1.20.2
parso==0.8.4
pathspec==0.12.1
pendulum==3.1.0
pillow==11.2.1
platformdirs==4.3.7
playwright==1.52.0
plotly==6.0.1
pluggy==1.5.0
pre-commit-hooks==5.0.0
prefect==3.4.1
prometheus-client==0.21.1
prompt-toolkit==3.0.51
propcache==0.3.1
protobuf==6.30.2
psutil==7.0.0
pure-eval==0.2.3
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.11.4
pydantic-core==2.33.2
pydantic-extra-types==2.10.4
pydantic-settings==2.9.1
pydeck==0.9.1
pyee==13.0.0
pygments==2.19.1
pyparsing==3.2.3
pyproject-hooks==1.2.0
pysocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-slugify==8.0.4
python-socks==2.7.1
pytoolconfig==1.3.1
pytz==2025.2
pywin32==310
pyyaml==6.0.2
pyzmq==26.4.0
readchar==4.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rope==1.13.0
rpds-py==0.24.0
rsa==4.9.1
ruamel-yaml==0.18.10
ruamel-yaml-clib==0.2.12
s3fs==2025.3.2
selenium==4.31.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
sqlalchemy==2.0.40
stack-data==0.6.3
starlette==0.46.2
streamlit==1.45.0
tenacity==9.1.2
text-unidecode==1.3
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typer==0.15.3
types-python-dateutil==2.9.0.20241206
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
urllib3==2.4.0
uuid7==0.1.0
uv==0.7.3
uvicorn==0.34.2
watchdog==6.0.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
wordcloud==1.9.4
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
zipp==3.21.0
